/* You can add global styles to this file, and also import other style files */
/* 1. Define the layer order. Styles in 'primeng' will win over 'bootstrap' */

@layer bootstrap, primeng;

@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' layer(bootstrap);
@import 'primeicons/primeicons.css' layer(primeng);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(21, 21, 21);
}
