app-profile {
  padding: 10rem;
}
/* In app.component.css or global styles */
:host {
  display: block;
  padding: 20px;
  box-sizing: border-box; /* This includes padding in element's total width/height */
  min-height: 100vh;
}

/* Ensure all children also use border-box */
:host *,
:host *::before,
:host *::after {
  box-sizing: border-box;
}

:host ::ng-deep .p-drawer {
  width: 35rem;
}

:host ::ng-deep p-toats {
  width: 10rem;
}
:host ::ng-deep .p-toast-message,
:host ::ng-deep .p-toast-message-content,
:host ::ng-deep .p-toast-detail {
  font-size: 1.2rem;
}
:host ::ng-deep .p-toast-summary {
  font-size: 1.6rem;
}
