.img-pfp {
  object-fit: cover;
  width: 20rem;
  height: 20rem;
}

.div-profile-head {
  width: 20rem;
  gap: 2rem;
}

.img-story {
  object-fit: cover;
  height: 10rem;
  width: 10rem;
  transition: 200ms;
}
.img-story:hover {
  filter: brightness(80%);
}

.div-profile-details {
  margin-left: 5rem;
  width: auto;
  flex: 0 0 auto;
}
.div-stories {
  width: 90rem;
  overflow-x: scroll;
}

.div-action-button {
  width: 20rem;
}

.img-pfp--active {
  cursor: pointer;
  border: 3.5px solid #5d357a;
  padding: 0.3rem;
  transition: 200ms;
}
.img-pfp--active:hover {
  transform: scale(1.01);
}

.p-button-dialog {
  right: 0;
}

p-avatar {
  border: green solid 0.2rem;
  width: 15rem;
  height: 15rem;
  padding: 0.2rem;
}
.form-input-label {
  font-size: 1.2rem;
}
.div-openHours {
  height: 2rem;
}
.date-picker-work-hours {
  width: 10rem;
}

.hidden {
  display: none;
}

.img-pfp {
  width: 15rem;
  max-height: fit-content;
}
.span-work-day {
  font-size: 1.4rem;
}

p-message {
  text-wrap: wrap;
  /* margin: auto; */
  font-size: 2.4rem;
  z-index: 999999;
}

:host ::ng-deep .p-message,
:host ::ng-deep .p-message-content,
:host ::ng-deep .p-message-text {
  padding: 0.2rem;
  z-index: 9999;
  font-size: 2.4rem;
}

:host ::ng-deep .p-button-dialog button {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  margin-right: 2rem;
  background-color: rgba(17, 16, 16, 0.822);
}
:host ::ng-deep .pi-user-edit,
:host ::ng-deep .pi-trash {
  font-size: 2.2rem;
  padding-left: 2rem;
  cursor: pointer;
  transition: 200ms;
}
:host ::ng-deep .pi-user-edit:hover,
:host ::ng-deep .pi-trash:hover {
  transform: scale(1.1);
}
:host ::ng-deep .payment-radio {
  font-size: 1.4rem;
}

::ng-deep .div-action-button span {
  font-size: 1.6rem;
}

::ng-deep .span-stats {
  font-size: 1.4rem;
}
