<p-tabs value="0" class="">
  <p-tablist>
    <p-tab (click)="updateRandomValue()" value="0" class="pi pi-th-large"></p-tab>
    <p-tab (click)="updateRandomValue()" value="1" class="pi pi-video"></p-tab>
    <p-tab (click)="updateRandomValue()" value="2" class="pi pi-bookmark"></p-tab>
    <p-tab (click)="updateRandomValue()" value="3" class="pi pi-user"></p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      @for (post of user()?.posts?.slice(0, randomNum()); track $index) {
      <app-post [post]="post" />
      }
    </p-tabpanel>
    <p-tabpanel value="1">
      @for (post of user()?.posts?.slice(0, randomNum()); track $index) {
      <app-post [post]="post" />
      }
    </p-tabpanel>
    <p-tabpanel value="2">
      @for (post of user()?.posts?.slice(0, randomNum()); track $index) {
      <app-post [post]="post" />
      }
    </p-tabpanel>
    <p-tabpanel value="3">
      @for (post of user()?.posts?.slice(0, randomNum()); track $index) {
      <app-post [post]="post" />
      }
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
