<!-- <p-tab>
  <p-tablist
    ><p-tab><span class="pi pi-home"></span></p-tab><p-tab></p-tab><p-tab></p-tab
  ></p-tablist>
</p-tab> -->

<p-tabs class="w-50">
  <p-tablist>
    <p-tab value="0" class="pi pi-th-large"></p-tab>
    <p-tab value="1" class="pi pi-video"></p-tab>
    <p-tab value="2" class="pi pi-bookmark"></p-tab>
    <p-tab value="3" class="pi pi-user"></p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <h1><app-post /></h1>
    </p-tabpanel>
    <p-tabpanel value="1">
      <h1><app-post /></h1>
    </p-tabpanel>
    <p-tabpanel value="2">
      <h1><app-post /></h1>
    </p-tabpanel>
    <p-tabpanel value="3">
      <h1><app-post /></h1>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
