/* * {
  font-size: 2.4rem;
} */
.img-pfp {
  object-fit: cover;
  width: 20rem;
  height: 20rem;
}

.div-profile-head {
  width: 20rem;
  gap: 2rem;
}

.img-story {
  object-fit: cover;
  height: 10rem;
  width: 10rem;
  transition: 200ms;
}
.img-story:hover {
  filter: brightness(80%);
}

.div-profile-details {
  margin-left: 5rem;
  width: auto;
  flex: 0 0 auto;
}
.div-stories {
  width: 90rem;
  overflow-x: scroll;
}

.div-action-button {
  width: 20rem;
}

.img-pfp--active {
  cursor: pointer;
  border: 3.5px solid #5d357a;
  padding: 0.3rem;
  transition: 200ms;
}
.img-pfp--active:hover {
  transform: scale(1.01);
}

p-message {
  left: 50%;
}

.p-button-dialog {
  /* width: 2rem; */
  right: 0;
  /* margin: 2rem; */
}

p-avatar {
  border: green solid 0.2rem;
  width: 15rem;
  height: 15rem;
  padding: 0.2rem;
}
.form-input-label {
  font-size: 1.2rem;
}
:host ::ng-deep input::placeholder {
  font-size: 1.4rem;
}
:host ::ng-deep p-dialog {
  transform: scale(4.5rem);
}

:host ::ng-deep p-input-group .p-inputwrapper,
:host ::ng-deep p-input-group .p-inputmask,
:host ::ng-deep p-input-group .p-datepicker-input,
:host ::ng-deep p-input-group .p-autocomplete-input,
:host ::ng-deep p-input-group .p-datepicker-input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 100%;
}
:host ::ng-deep .p-button-lg {
  width: 100%;
}
:host ::ng-deep .p-button-dialog button {
  padding: 0.5rem 2rem;
  margin-right: 2rem;
  background-color: rgba(17, 16, 16, 0.822);
}
:host ::ng-deep .pi-user-edit,
:host ::ng-deep .pi-trash {
  font-size: 2.2rem;
  padding-left: 2rem;
  cursor: pointer;
  transition: 200ms;
}
:host ::ng-deep .pi-user-edit:hover,
:host ::ng-deep .pi-trash:hover {
  /* font-size: 2.4rem; */
  transform: scale(1.1);
}
:host ::ng-deep .payment-radio {
  font-size: 1.4rem;
}

.date-picker-work-hours {
  width: 10rem;
}
