<div class="d-flex justify-content-between w-100">
  <!--!Message-->
  @if(messageVisible()){
  <p-message
    class="position-absolute"
    [life]="1500"
    [severity]="messageSeverity"
    [size]="'large'"
    >{{ message }}</p-message
  >}
  <p-button
    class="p-button-dialog position-absolute"
    (click)="visibleRegisterDialog = true"
    label="Sign up"
  />

  <!--! NAV -->
  <!-- <app-navbar (user)="onUserChange($event)"></app-navbar> -->
  <section class="w-100 d-flex justify-content-center">
    @if(user()){
    <div class="d-flex flex-column w-75 gap-5">
      <div class="div-profile-head d-flex align-items-center">
        <!--! Profile Pic -->
        <div class="div-profile-picture-container">
          <p-avatar
            image="{{ user().pfpUrl || 'sunnyDay.jpg' }}"
            class="mr-2"
            size="xlarge"
            shape="circle"
          />
        </div>
        <!--! Profile Details -->
        <div class="div-profile-details">
          <div class="d-flex w-100">
            <div class="div-profile-states d-flex flex-column gap-3 w-100">
              <!--! Username -->

              <h1 [@hover]="hovered ? 'mouseover' : 'mouseout'" class="span-username w-100">
                {{ user().username }}
                <!--! Edit icon  -->

                <!--! Delete icon  -->

                <span (click)="visibleEditDialog = true" class="pi pi-user-edit"></span>
                <span (click)="visibleDeleteDialog = true" class="pi pi-trash"></span>
              </h1>
              <!--! Account follow numbers  -->

              <span class="span-stats w-100 fs-5"
                >followers:<span>{{ user().followers || 0 }}</span> following:
                <span>{{ user().following || 0 }} </span> posts:
                <span>{{ user().posts?.length || '0' }}</span></span
              >
              <!--! Bio  -->
              <span class="fs-5">{{ user().bio }}</span>
            </div>
          </div>
          <!--! Action Buttons  -->
          <div class="div-action-button my-3">
            <p-button
              class=""
              size="large"
              label="Follow"
              [label]="follow() ? 'UnFollow' : 'Follow'"
              (onClick)="onFollowClick()"
              [icon]="follow() ? '' : 'pi pi-plus'"
              [severity]="follow() ? 'secondary' : 'success'"
            />
          </div>
        </div>
      </div>

      <!--! Stories -->
      <div class="div-stories d-flex gap-5 overflow-x-scroll overflow-y-visible">
        @for (storyCoverImage of user().stories; track $index) {

        <img class="img-story rounded-circle" src="/{{ storyCoverImage }}" alt="" />
        }
        <!--! Posts  -->
      </div>
      <app-posts [user]="user()"></app-posts>
    </div>
    }
  </section>

  <!--! Dialogs  -->

  <!--! Edit Dialog  -->
  <p-dialog header="Edit" [modal]="true" [(visible)]="visibleEditDialog">
    <form [formGroup]="userForm" class="h-auto overflow-visible" action="">
      <p-float-label variant="in" class="h-auto overflow-visible fs-6">
        <textarea
          pSize="large"
          [formControl]="userForm.controls.bio"
          class="h-auto"
          pTextarea
          type="bio"
          name="bio"
        ></textarea>
        <label for="bio" class="label-bio">Bio</label>
      </p-float-label>
      <div class="d-flex g-2 justify-content-around mt-5">
        <p-button
          severity="success"
          (onClick)="visibleEditDialog = false"
          (onClick)="onEditClick()"
          label="Edit"
        ></p-button>
        <p-button
          severity="secondary"
          (onClick)="visibleEditDialog = false"
          label="Cancel"
        ></p-button>
      </div>
    </form>
  </p-dialog>

  <!--! Sign up dialog -->

  <p-dialog header="Sign up" [modal]="true" [(visible)]="visibleRegisterDialog">
    <p-stepper [value]="1">
      <p-step-list>
        <p-step [value]="1">Account Information</p-step>
        <p-step [value]="2">Personal/Business</p-step>
        <p-step [value]="3">Verification</p-step>
      </p-step-list>
      <p-step-panels>
        <!--! Account Information  -->
        <p-step-panel [value]="1">
          <ng-template #content let-activateCallback="activateCallback">
            <form [formGroup]="userForm" class="h-auto overflow-visible" action="">
              <p-input-group class="p-2">
                <p-inputgroup-addon><i class="pi pi-user"></i> </p-inputgroup-addon>
                <p-float-label variant="in" class="h-auto overflow-visible fs-6">
                  <label for="username" class="form-input-label label-username">Username</label>
                  <input
                    [formControl]="userForm.controls.username"
                    class=""
                    pInputText
                    type="text"
                    name="username"
                  />
                </p-float-label>
              </p-input-group>

              <p-input-group class="p-2">
                <p-inputgroup-addon>
                  <p-button (onClick)="useEmail = true" class="" [disabled]="useEmail === true"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="#fefbfb"
                      viewBox="0 0 256 256"
                    >
                      <path
                        d="M128,24a104,104,0,0,0,0,208c21.51,0,44.1-6.48,60.43-17.33a8,8,0,0,0-8.86-13.33C166,210.38,146.21,216,128,216a88,88,0,1,1,88-88c0,26.45-10.88,32-20,32s-20-5.55-20-32V88a8,8,0,0,0-16,0v4.26a48,48,0,1,0,5.93,65.1c6,12,16.35,18.64,30.07,18.64,22.54,0,36-17.94,36-48A104.11,104.11,0,0,0,128,24Zm0,136a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z"
                      ></path>
                    </svg>
                  </p-button>
                </p-inputgroup-addon>
                @if (useEmail) {
                <p-float-label>
                  <label for="email" class="form-input-label">{{
                    useEmail ? 'Email' : 'Phone Number'
                  }}</label>

                  <input
                    size="large"
                    type="text"
                    [formControl]="userForm.controls.email"
                    pInputText
                  />
                </p-float-label>
                }@else{

                <p-inputmask
                  [mask]="'(+999)99-999-9999'"
                  size="large"
                  type="text"
                  [formControl]="userForm.controls.phoneNumber"
                  pInputText
                />
                }
                <p-inputgroup-addon>
                  <p-button
                    (onClick)="useEmail = false"
                    icon="pi pi-phone"
                    class="h-100"
                    [disabled]="useEmail === false"
                  />
                </p-inputgroup-addon>
              </p-input-group>

              <div class="w-100 d-flex justify-content-around">
                <p-input-group class="p-2">
                  <p-inputgroup-addon>
                    <i class="pi pi-calendar"></i>
                  </p-inputgroup-addon>
                  <p-date-picker
                    [formControl]="userForm.controls.dateOfBirth"
                    class=""
                    [showButtonBar]="true"
                    size="large"
                    dateFormat="dd/mm/yyyy"
                    [maxDate]="today"
                  />
                </p-input-group>
                <p-selectbutton
                  [options]="genderOptions"
                  class="m-2"
                  [formControl]="userForm.controls.gender"
                />
              </div>
              <p-input-group class="d-flex gap-2">
                <p-password
                  [formControl]="userForm.controls.password"
                  [toggleMask]="true"
                  placeholder="Password"
                  [size]="'large'"
                  class="w-100"
                />
                <p-password
                  feedback="false"
                  [formControl]="userForm.controls.confirmPassword"
                  [toggleMask]="false"
                  placeholder="Conform Password"
                  [size]="'large'"
                  class="w-100"
                />
              </p-input-group>
              <div class="my-5">
                <p-fileupload
                  name="demo[]"
                  url="https://www.primefaces.org/cdn/api/upload.php"
                  [multiple]="true"
                  accept="image/*"
                  maxFileSize="1000000"
                  mode="advanced"
                  (onSelect)="userForm.controls.pfpUrl.setValue($event.files)"
                >
                  <!-- <ng-template #empty>
                    <div>Drag and drop files to here to upload.</div>
                  </ng-template> -->
                  <ng-template #content>
                    @if(uploadedFiles?.length){

                    <ul>
                      @for (file of uploadedFiles; track $index) {

                      <li>{{ file.name }} - {{ file.size }} bytes</li>
                      }
                    </ul>
                    }
                  </ng-template>
                </p-fileupload>
              </div>
              <div class="d-flex g-2 justify-content-around mt-2">
                <p-button
                  severity="secondary"
                  (onClick)="visibleRegisterDialog = false"
                  label="Cancel"
                ></p-button>
                <p-button
                  severity="success"
                  label="Next"
                  (onClick)="activateCallback(2)"
                ></p-button>
              </div>
            </form>
          </ng-template>
        </p-step-panel>
        <!--! Account Type  -->
        <p-step-panel [value]="2">
          <ng-template #content let-activateCallback="activateCallback">
            <div class="d-flex justify-content-center mb-5">
              <p-selectbutton
                [multiple]="false"
                [options]="accountOptions"
                [formControl]="userForm.controls.accountType"
                (onChange)="onAccountTypeChange($event)"
                class="m-2"
              />
            </div>

            <!--! Business Account  -->
            @if(userForm.controls.accountType.value==='business'){
            <div class="d-flex gap-4">
              <div>
                <p-input-group class="w-100 my-2 d-flex">
                  <p-inputgroup-addon>
                    <i class="pi pi-search" (click)="onCitySearch($event)"></i>
                  </p-inputgroup-addon>
                  <p-autocomplete
                    [formControl]="userForm.controls.city"
                    [suggestions]="suggestedCities"
                    appendTo="body"
                    placeholder="Select your city"
                    (completeMethod)="onCitySearch($event)"
                  />
                </p-input-group>
                <p-input-group class="my-2">
                  <p-inputgroup-addon
                    ><i
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="#ffffff"
                        viewBox="0 0 256 256"
                        data--h-bstatus="0OBSERVED"
                      >
                        <path
                          d="M24,104H48v64H32a8,8,0,0,0,0,16H224a8,8,0,0,0,0-16H208V104h24a8,8,0,0,0,4.19-14.81l-104-64a8,8,0,0,0-8.38,0l-104,64A8,8,0,0,0,24,104Zm40,0H96v64H64Zm80,0v64H112V104Zm48,64H160V104h32ZM128,41.39,203.74,88H52.26ZM248,208a8,8,0,0,1-8,8H16a8,8,0,0,1,0-16H240A8,8,0,0,1,248,208Z"
                          data--h-bstatus="0OBSERVED"
                        ></path></svg></i
                  ></p-inputgroup-addon>
                  <input [formControl]="userForm.controls.iban" pInputText placeholder="IBAN" />
                </p-input-group>
                <p-input-group class="my-2">
                  <p-inputgroup-addon><i class="pi pi-file"></i></p-inputgroup-addon>
                  <input
                    [formControl]="userForm.controls.commercialRegistryNumber"
                    type=""
                    placeholder="Commercial Registry"
                    pInputText
                  />
                </p-input-group>
              </div>
              <div class="d-flex flex-column justify-content-center align-items-center">
                <p-fileupload
                  chooseIcon="pi pi-upload"
                  accept="application/pdf"
                  multiple="false"
                  [maxFileSize]="1000000000"
                  mode="basic"
                  (onSelect)="userForm.controls.commercialPaper.setValue($event.files)"
                />
              </div>
            </div>
            <h2>Payment Methods</h2>
            <div class="d-flex justify-content-between flex-wrap my-5">
              <div class="d-flex w-100 justify-content-center align-items-center gap-5">
                <div class="d-flex gap-2">
                  <label class="payment-radio" for="paymentMethods">Mada</label>

                  <p-checkbox [formControl]="userForm.controls.paymentMethods" value="Mada" />
                </div>
                <div class="d-flex gap-2">
                  <label class="payment-radio" for="paymentMethods">STC Pay</label>

                  <p-checkbox [formControl]="userForm.controls.paymentMethods" value="stcPay" />
                </div>
                <div class="d-flex gap-2">
                  <label class="payment-radio" for="paymentMethods">Apple Pay</label>

                  <p-checkbox [formControl]="userForm.controls.paymentMethods" value="applePay" />
                </div>
                <div class="d-flex gap-2">
                  <label class="payment-radio" for="paymentMethods">Google Pay</label>

                  <p-checkbox [formControl]="userForm.controls.paymentMethods" value="googlePay" />
                </div>
              </div>
            </div>

            <p-table [value]="userForm.controls.products.controls">
              <ng-template #caption>
                <h3>Business Products</h3>
              </ng-template>
              <ng-template #header
                ><tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Category</th>
                  <th>Discount</th>
                </tr>
              </ng-template>
              <ng-template #body let-group>
                <tr>
                  <td>
                    <input
                      [formControl]="group.controls.name"
                      type="text"
                      pInputText
                      placeholder="Product name"
                    />
                  </td>
                  <td class="d-flex">
                    <p-inputNumber currency="SAR" [formControl]="group.controls.price" />
                  </td>
                  <td>
                    <p-select
                      name="categories"
                      appendTo="body"
                      [formControl]="group.controls.categories"
                      [options]="categories"
                    >
                      <ng-template class="w-100 h-100 d-flex justify-content-center" #footer>
                        <p-input-group>
                          <p-inputgroup-addon
                            ><p-button (click)="onNewCategory()" icon="pi pi-plus"></p-button
                          ></p-inputgroup-addon>
                          <input
                            [formControl]="userForm.controls.category"
                            type="text"
                            pInputText
                            placeholder="New Category"
                          />
                        </p-input-group>
                      </ng-template>
                    </p-select>
                  </td>
                  <td>
                    <p-select
                      name="discount"
                      [formControl]="group.controls.discounts"
                      appendTo="body"
                      [options]="discounts"
                    >
                      <ng-template class="w-100 h-100 d-flex justify-content-center" #footer>
                        <p-input-group>
                          <p-inputgroup-addon
                            ><p-button (click)="onNewDiscount()" icon="pi pi-plus"></p-button
                          ></p-inputgroup-addon>
                          <input
                            [formControl]="userForm.controls.discount"
                            type="text"
                            pInputText
                            placeholder="New Discount"
                          />
                        </p-input-group>
                      </ng-template>
                    </p-select>
                  </td>
                </tr>
              </ng-template>
              <ng-template #footer>
                <div class="d-flex justify-content-start">
                  <p-button
                    (onClick)="onAddNewItem()"
                    label="Add"
                    outlined="true"
                    icon="pi pi-plus"
                  />
                </div>
              </ng-template>
            </p-table>
            <div>
              <div class="w-100">
                <h2>Open hours</h2>

                @for (control of userForm.controls.workHours.controls; track $index) {

                <div class="w-100 d-flex justify-content-start align-items-center gap-5 my-2">
                  <div class="w-25 d-flex justify-content-between gap-2">
                    <span>{{ control.value?.day }}</span>
                    <p-checkbox [size]="'large'" [value]="true" />
                  </div>
                  <p-datepicker
                    [iconDisplay]="'button'"
                    [showIcon]="true"
                    icon="pi pi-clock"
                    hourFormat="hh:mm"
                    [appendTo]="'body'"
                    class="date-picker-work-hours"
                    [timeOnly]="true"
                  >
                    <ng-template #footer>
                      <div class="d-flex gap-3">
                        <span>Flexible</span>
                        <p-checkbox [value]="true" />
                      </div>
                    </ng-template>
                  </p-datepicker>
                  <span>To</span>
                  <p-datepicker
                    [iconDisplay]="'button'"
                    [showIcon]="true"
                    icon="pi pi-clock"
                    hourFormat="hh:mm"
                    [appendTo]="'body'"
                    class="date-picker-work-hours"
                    [timeOnly]="true"
                  >
                  </p-datepicker>
                </div>
                }
              </div>
              <div class="d-flex flex-column my-5 gap-2">
                <h2>Looking for employees?</h2>
                <div class="w-100 d-flex align-items-center gap-4">
                  <p-checkbox [value]="true" size="large" />
                  <p-multiselect
                    appendTo="body"
                    [options]="pricingOption"
                    [selectAll]="true"
                    defaultLabel="Pricing Type"
                  ></p-multiselect>
                </div>
              </div>
            </div>
            }
            <!--! Personal account code  -->
            @else{
            <p-input-group class="w-100 my-2 d-flex">
              <p-inputgroup-addon>
                <i class="pi pi-search" (click)="onCitySearch($event)"></i>
              </p-inputgroup-addon>
              <p-autocomplete
                [suggestions]="suggestedCities"
                appendTo="body"
                placeholder="Select your city"
                (completeMethod)="onCitySearch($event)"
              />
            </p-input-group>
            <div class="d-flex flex-column">
              <label for="bio">bio</label>
              <textarea rows="5" cols="30" pTextarea></textarea>
            </div>

            }
            <div class="w-100 my-2 d-flex justify-content-center gap-4">
              <p-button label="Cancel" severity="secondary" />
              @if(userForm.controls.accountType.value==='personal'){

              <p-button label="Skip" severity="success" />
              } @else{

              <p-button label="Next" (onClick)="onTestSub()" severity="success" />
              }
            </div>
          </ng-template>
        </p-step-panel>
        <!--! Verification  -->
        <p-step-panel [value]="3">
          <ng-template #content let-activateCallback="activateCallback">
            <div
              class="w-100 h-100 d-flex justify-content-center align-items-center flex-column gap-4"
            >
              <span>Enter the OTP we've just sent to you </span>
              <p-inputotp size="large" />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>
  </p-dialog>
  <!--! Delete dialog  -->
  <p-dialog [size] [modal]="true" [(visible)]="visibleDeleteDialog" header="Are you sure?">
    <div class="d-flex gap-4">
      <p-button
        severity="danger"
        (onClick)="visibleDeleteDialog = false"
        (onClick)="onDeleteClick()"
        >Delete</p-button
      >
      <p-button severity="secondary" (onClick)="visibleDeleteDialog = false">Cancel</p-button>
    </div>
  </p-dialog>
</div>
