<p-dialog header="Sign up" [modal]="true" [(visible)]="userService.visibleSignupDialog">
  <p-stepper [value]="1">
    <p-step-list>
      <p-step [value]="1">Account Information</p-step>
      <p-step [value]="2">Personal/Business</p-step>
      <p-step [value]="3">Verification</p-step>
    </p-step-list>
    <p-step-panels>
      <!--! Account Information  -->
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <form [formGroup]="userService.userForm" class="h-auto overflow-visible" action="">
            <p-input-group class="p-2">
              <p-inputgroup-addon><i class="pi pi-user"></i> </p-inputgroup-addon>
              <input
                [formControl]="userService.userForm.controls.username"
                class=""
                pInputText
                type="text"
                name="username"
                placeholder="Username"
              />
            </p-input-group>

            <p-input-group class="p-2">
              <p-inputgroup-addon>
                <p-button
                  (onClick)="userService.useEmail = true"
                  class="h-100"
                  [disabled]="userService.useEmail === true"
                  ><svg
                    class=""
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#fefbfb"
                    viewBox="0 0 256 256"
                  >
                    <path
                      d="M128,24a104,104,0,0,0,0,208c21.51,0,44.1-6.48,60.43-17.33a8,8,0,0,0-8.86-13.33C166,210.38,146.21,216,128,216a88,88,0,1,1,88-88c0,26.45-10.88,32-20,32s-20-5.55-20-32V88a8,8,0,0,0-16,0v4.26a48,48,0,1,0,5.93,65.1c6,12,16.35,18.64,30.07,18.64,22.54,0,36-17.94,36-48A104.11,104.11,0,0,0,128,24Zm0,136a32,32,0,1,1,32-32A32,32,0,0,1,128,160Z"
                    ></path>
                  </svg>
                </p-button>
              </p-inputgroup-addon>
              @if (userService.useEmail) {

              <input
                size="large"
                type="text"
                [formControl]="userService.userForm.controls.email"
                pInputText
                class="inputmask-credentials"
                placeholder="Email Address"
              />

              }@else{

              <p-inputmask
                [mask]="'(+999)99-999-9999'"
                size="large"
                type="text"
                [formControl]="userService.userForm.controls.phoneNumber"
                pInputText
                class="inputmask-credentials"
                placeholder="Phone Number"
              />
              }
              <p-inputgroup-addon>
                <p-button
                  (onClick)="userService.useEmail = false"
                  icon="pi pi-phone"
                  class="h-100"
                />
              </p-inputgroup-addon>
            </p-input-group>

            <div class="div-date-of-birth d-flex justify-content-start">
              <p-input-group class="input-group-date-of-birth p-2">
                <p-inputgroup-addon>
                  <i class="pi pi-calendar"></i>
                </p-inputgroup-addon>
                <p-date-picker
                  appendTo="body"
                  placeholder="Your Birth Date"
                  [formControl]="userService.userForm.controls.dateOfBirth"
                  class="date-picker-date-of-birth"
                  [showButtonBar]="true"
                  size="large"
                  dateFormat="dd/mm/yy"
                  [maxDate]="userService.today"
                />
              </p-input-group>
              <p-selectbutton
                [options]="userService.genderOptions"
                class="selectbutton-gender m-2"
                [formControl]="userService.userForm.controls.gender"
              />
            </div>
            <div class="d-flex justify-content-between p-2 gap-2">
              <p-password
                [formControl]="userService.userForm.controls.password"
                [toggleMask]="true"
                placeholder="Password"
                [size]="'large'"
                class="w-100"
              />
              <p-password
                feedback="false"
                [formControl]="userService.userForm.controls.confirmPassword"
                [toggleMask]="false"
                placeholder="Conform Password"
                [size]="'large'"
                class="w-100"
              />
            </div>
            <div class="my-5">
              <p-fileupload
                name="demo"
                url="https://www.primefaces.org/cdn/api/upload.php"
                [multiple]="true"
                accept="image/*"
                maxFileSize="1000000"
                mode="advanced"
                [auto]="true"
                (onUpload)="userService.uploadFile($event, userService.userForm.controls.pfpUrl)"
              >
                <ng-template #content>
                  @if(userService.userForm.controls.pfpUrl.value){

                  <ul>
                    @for (file of userService.userForm.controls.pfpUrl.value ; track $index) {

                    <li>
                      <img class="img-pfp my-4" src="{{ file }}" alt="ppf" />
                    </li>
                    }
                  </ul>
                  }
                </ng-template>
              </p-fileupload>
            </div>
            <div class="d-flex g-2 justify-content-center gap-5 my-5">
              <p-button
                severity="secondary"
                (onClick)="userService.visibleSignupDialog = false"
                label="Cancel"
              ></p-button>
              <p-button severity="success" label="Next" (onClick)="activateCallback(2)"></p-button>
            </div>
          </form>
        </ng-template>
      </p-step-panel>
      <!--! Account Type  -->
      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="d-flex justify-content-center mb-5">
            <p-selectbutton
              [multiple]="false"
              [options]="userService.accountOptions"
              [formControl]="userService.userForm.controls.accountType"
              (onChange)="userService.onAccountTypeChange($event)"
              class="m-2"
            />
          </div>

          <!--! Business Account  -->
          @if(userService.userForm.controls.accountType.value==='business'){
          <div class="d-flex gap-4">
            <div>
              <p-input-group class="w-100 my-2 d-flex">
                <p-inputgroup-addon>
                  <i class="pi pi-search" (click)="userService.updateSuggestedCities($event)"></i>
                </p-inputgroup-addon>
                <p-autocomplete
                  [formControl]="userService.userForm.controls.city"
                  [suggestions]="userService.suggestedCities"
                  appendTo="body"
                  placeholder="Select your city"
                  (completeMethod)="userService.updateSuggestedCities($event)"
                />
              </p-input-group>
              <p-input-group class="my-2">
                <p-inputgroup-addon
                  ><i
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="#ffffff"
                      viewBox="0 0 256 256"
                      data--h-bstatus="0OBSERVED"
                    >
                      <path
                        d="M24,104H48v64H32a8,8,0,0,0,0,16H224a8,8,0,0,0,0-16H208V104h24a8,8,0,0,0,4.19-14.81l-104-64a8,8,0,0,0-8.38,0l-104,64A8,8,0,0,0,24,104Zm40,0H96v64H64Zm80,0v64H112V104Zm48,64H160V104h32ZM128,41.39,203.74,88H52.26ZM248,208a8,8,0,0,1-8,8H16a8,8,0,0,1,0-16H240A8,8,0,0,1,248,208Z"
                        data--h-bstatus="0OBSERVED"
                      ></path></svg></i
                ></p-inputgroup-addon>
                <input
                  [formControl]="userService.userForm.controls.iban"
                  pInputText
                  placeholder="IBAN"
                />
              </p-input-group>
              <p-input-group class="my-2">
                <p-inputgroup-addon><i class="pi pi-file"></i></p-inputgroup-addon>
                <input
                  [formControl]="userService.userForm.controls.commercialRegistryNumber"
                  type=""
                  placeholder="Commercial Registry"
                  pInputText
                />
              </p-input-group>
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <p-fileupload
                name="demo"
                url="https://www.primefaces.org/cdn/api/upload.php"
                [multiple]="true"
                accept="application/pdf"
                maxFileSize="1000000"
                mode="advanced"
                (onUpload)="
                  userService.uploadFile($event, userService.userForm.controls.commercialPaper)
                "
              >
                <ng-template #content>
                  @if(userService.userForm.controls.commercialPaper.value){

                  <a [href]="userService.userForm.controls.commercialPaper.value" target="_blank"
                    >View</a
                  >
                  }
                </ng-template></p-fileupload
              >
            </div>
          </div>
          <h2>Payment Methods</h2>
          <div class="d-flex justify-content-between flex-wrap my-5">
            <div class="d-flex w-100 justify-content-center align-items-center gap-5">
              <div class="d-flex gap-2">
                <label class="payment-radio" for="paymentMethods">Mada</label>

                <p-checkbox
                  [formControl]="userService.userForm.controls.paymentMethods"
                  value="Mada"
                />
              </div>
              <div class="d-flex gap-2">
                <label class="payment-radio" for="paymentMethods">STC Pay</label>

                <p-checkbox
                  [formControl]="userService.userForm.controls.paymentMethods"
                  value="stcPay"
                />
              </div>
              <div class="d-flex gap-2">
                <label class="payment-radio" for="paymentMethods">Apple Pay</label>

                <p-checkbox
                  [formControl]="userService.userForm.controls.paymentMethods"
                  value="applePay"
                />
              </div>
              <div class="d-flex gap-2">
                <label class="payment-radio" for="paymentMethods">Google Pay</label>

                <p-checkbox
                  [formControl]="userService.userForm.controls.paymentMethods"
                  value="googlePay"
                />
              </div>
            </div>
          </div>

          <p-table [value]="userService.userForm.controls.products.controls">
            <ng-template #caption>
              <h3>Business Products</h3>
            </ng-template>
            <ng-template #header
              ><tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Discount</th>
              </tr>
            </ng-template>
            <ng-template #body let-group>
              <tr>
                <td>
                  <input
                    [formControl]="group.controls.name"
                    type="text"
                    pInputText
                    placeholder="Product name"
                  />
                </td>
                <td class="d-flex">
                  <p-inputNumber currency="SAR" [formControl]="group.controls.price" />
                </td>
                <td>
                  <p-select
                    name="categories"
                    appendTo="body"
                    [formControl]="group.controls.categories"
                    [options]="userService.categories"
                  >
                    <ng-template class="w-100 h-100 d-flex justify-content-center" #footer>
                      <p-input-group>
                        <p-inputgroup-addon
                          ><p-button
                            (click)="userService.onNewCategory()"
                            icon="pi pi-plus"
                          ></p-button
                        ></p-inputgroup-addon>
                        <input
                          [formControl]="userService.userForm.controls.newCategory"
                          type="text"
                          pInputText
                          placeholder="New Category"
                        />
                      </p-input-group>
                    </ng-template>
                  </p-select>
                </td>
                <td>
                  <p-select
                    name="discount"
                    [formControl]="group.controls.discounts"
                    appendTo="body"
                    [options]="userService.discounts"
                  >
                    <ng-template class="w-100 h-100 d-flex justify-content-center" #footer>
                      <p-input-group>
                        <p-inputgroup-addon
                          ><p-button
                            (click)="userService.onNewDiscount()"
                            icon="pi pi-plus"
                          ></p-button
                        ></p-inputgroup-addon>
                        <input
                          [formControl]="userService.userForm.controls.newDiscount"
                          type="text"
                          pInputText
                          placeholder="New Discount"
                        />
                      </p-input-group>
                    </ng-template>
                  </p-select>
                </td>
              </tr>
            </ng-template>
            <ng-template #footer>
              <div class="d-flex justify-content-start">
                <p-button
                  (onClick)="userService.onAddNewItem()"
                  label="Add"
                  outlined="true"
                  icon="pi pi-plus"
                />
              </div>
            </ng-template>
          </p-table>
          <div>
            <div class="w-100 my-4">
              <h2>Open hours</h2>

              @for (group of userService.userForm.controls.workHours.controls; track $index) {

              <div
                class="div-openHours w-100 d-flex justify-content-start align-items-center gap-5 m-4 my-5"
              >
                <div class="w-25 d-flex justify-content-between gap-2">
                  <span class="span-work-day fw-bolder">{{ group.value.day }}</span>

                  <p-checkbox
                    size="large"
                    [formControl]="group.controls.available"
                    binary="true"
                    (onChange)="userService.onDayCheck(group.controls.available, $event)"
                  ></p-checkbox>
                </div>
                <p-datepicker
                  [iconDisplay]="'button'"
                  [showIcon]="true"
                  icon="pi pi-clock"
                  hourFormat="hh:mm"
                  [appendTo]="'body'"
                  class="date-picker-work-hours"
                  [timeOnly]="true"
                  [formControl]="group.controls.openHours"
                >
                  <ng-template #footer>
                    <div class="d-flex gap-3">
                      <span class="">Flexible</span>
                      <p-checkbox [binary]="true" [formControl]="group.controls.flexible" />
                    </div>
                  </ng-template>
                </p-datepicker>
                <span>To</span>
                <p-datepicker
                  [iconDisplay]="'button'"
                  [showIcon]="true"
                  icon="pi pi-clock"
                  hourFormat="hh:mm"
                  [appendTo]="'body'"
                  class="date-picker-work-hours"
                  [timeOnly]="true"
                  [formControl]="group.controls.closeHours"
                >
                </p-datepicker>
              </div>
              }
            </div>
          </div>
          }
          <!--! Personal account code  -->
          @else{
          <p-input-group class="w-100 my-2 d-flex">
            <p-inputgroup-addon>
              <i class="pi pi-search" (click)="userService.updateSuggestedCities($event)"></i>
            </p-inputgroup-addon>
            <p-autocomplete
              [formControl]="userService.userForm.controls.city"
              [suggestions]="userService.suggestedCities"
              appendTo="body"
              placeholder="Select your city"
              (completeMethod)="userService.updateSuggestedCities($event)"
            />
          </p-input-group>
          <div class="d-flex flex-column">
            <label for="bio">bio</label>
            <textarea
              [formControl]="userService.userForm.controls.bio"
              rows="5"
              cols="30"
              pTextarea
            ></textarea>
          </div>

          }
          <div class="d-flex g-2 justify-content-center gap-5 my-5">
            <p-button
              label="Cancel"
              (onClick)="userService.visibleSignupDialog = false"
              severity="secondary"
            />
            @if(userService.skipPersonalAccountStep){

            <p-button label="Skip" (onClick)="activateCallback(3)" severity="success" />
            } @else{

            <p-button label="Next" (onClick)="activateCallback(3)" severity="success" />
            }
          </div>
        </ng-template>
      </p-step-panel>
      <!--! Verification  -->
      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback">
          <div
            class="w-100 h-100 d-flex justify-content-center align-items-center flex-column gap-4"
          >
            <span>Enter the OTP we've just sent to you </span>
            <p-inputotp
              size="large"
              [integerOnly]="true"
              [length]="4"
              [formControl]="userService.userForm.controls.otp"
            />
          </div>
          <div class="d-flex g-2 justify-content-center gap-5 my-5">
            <p-button
              label="Cancel"
              (onClick)="userService.visibleSignupDialog = false"
              severity="secondary"
            />
            <p-button label="Submit" (onClick)="submitForm()" severity="success" />
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-panels>
  </p-stepper>
</p-dialog>
