nav {
  height: 90vh;
  width: 20rem;
}

.span-search-username {
  font-size: 1.4rem;
}
:host ::ng-deep .p-menu {
  height: 100%;
  font-size: 2.2rem;
  border: none;
  background: transparent !important;
}
:host ::ng-deep .p-menu ul {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

:host ::ng-deep .p-menu-item-icon {
  font-size: 2rem !important;
}

:host ::ng-deep .p-menu .p-menu-item-link {
  margin-top: 2.8rem;
  margin-bottom: 0.8rem;
}

:host ::ng-deep .p-drawer {
  background-color: rgb(21, 21, 21);
  border: transparent;
}
:host ::ng-deep .p-autocomplete-option {
  pointer-events: all;
}
.div-suggested-user {
  pointer-events: all;
}
