.span-search-username {
  font-size: 1.4rem;
}

:host ::ng-deep .p-menu {
  height: 100%;
  font-size: 2.2rem;
  border: none;
  background: transparent !important;
}
:host ::ng-deep .p-menu ul {
  gap: 4rem;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

:host ::ng-deep .p-menu-item-icon {
  font-size: 2rem !important;
}

:host ::ng-deep .p-menu .p-menu-item-link {
  /* margin-top: 2.8rem; */
  /* margin-bottom: 0.8rem; */
}

:host ::ng-deep .p-drawer-left {
  width: 100rem;
  background-color: rgb(21, 21, 21);
  border: transparent;
}
::ng-deep .p-drawer-left {
  width: 40rem;
}
::ng-deep .auto-complete div input,
::ng-deep .auto-complete div {
  width: 100%;
}

::ng-deep div.p-menu-item-content {
  padding: 0.1rem 0.1rem;
  border-radius: 1rem;
}
::ng-deep .span-search-username {
  font-size: 2rem;
}
::ng-deep .div-suggested-user {
  height: 5rem;
}

::ng-deep .avatar-pfp {
  width: 6rem;
  height: 6rem;
}

::ng-deep li.p-autocomplete-option {
  pointer-events: all;
}
